#one {
  margin: 20px;
  border: 7px solid #000000;
  padding: 20px;
}
body{
  color: red;
}
#two {
  margin: 20px;
  border: 7px solid #000000;
  padding: 20px;
}
#Three {
  width: 25%;
}
#four{
  width: 50%;
}
