body{
  background-color: lightb;
}
#two{
  background-color: #a2f593;
  margin-left: 10px;
  border: 7px dashed black;
  border: 5px dashed black;
}
div{
  background-color: #d4f5ce;
  border: 7px dashed black;

}
h1{
  font-size: 400%;
}
p{
  font-size: 200%;
}
#four{
  font-size: 500%;
  border: 7px solid black;
  position: absolute;
  top: 43px;
  right: 47px;
  width: 700px;
  length: 500px;

}
